<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
</head>
<body>

    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        <strong>Message:</strong> {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
    </div>
    {% endfor %}
    <div class="tab-content col-md-12" 
    style="	width:600px;
            box-shadow: 3px 3px 3px 3px grey;
            margin:10px;
            background-color: #E0D8D6;
            border: 5px solid black;
            padding: 10px;
            margin-top: 15%;
            margin-left: 30%;
          ">
    <h1 style="text-align: center;">Log In </h1>
    <form method="post" action="/signin" class="mb-2">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Enter Your Username" Required>
        </div>
        <div class="form-group">
            <label for="pass1">Password</label>
            <input type="password" class="form-control" id="pass1" name="password" placeholder="Enter Your Password" Required>
        </div>

        <button type="submit" class="btn btn-primary">Log In</button>
    </form>
</div>
</body>
</html>